@use '../variables'
@use '../mixins'

.shadow
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgb(0, 0, 0, 0.5)
    z-index: 100

.shadow .modal
    position: fixed
    top: 50%
    left: 50%
    width: 400px
    transform: translate(-50%, -50%)
    padding: 14px 20px 20px 
    background: variables.$card-color
    border-radius: 8px
    

.shadow .modal .buttons
    width: 100%
    display: flex
    justify-content: flex-end

    .delete
        background: #ff1313
        box-shadow: 0px 10px 40px -12px #ff000048

        &:hover
            background: #a30404

.shadow .modal p
    text-align: center
    font-size: 1.2rem
    margin-bottom: 2rem


.shadow .modal .info-container
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.shadow .modal .info-container .modal-form
    height: 110px

.shadow .modal .password-title
    margin-bottom: 1rem

.shadow .modal .info
    display: flex

.shadow .modal svg
    @include mixins.svg
    
.shadow .modal input
    @include mixins.inputs
    transition: .5s

    &:focus
        outline: 1px solid #00bb64

.shadow .modal .error-msg
    @include mixins.msg
    font-size: .9rem

.shadow .modal button
    @include mixins.button
    margin-bottom: 0

.shadow .modal .btn-area
    width: 100%
    display: flex
    justify-content: center

.shadow .modal .btn-password, 
.shadow .modal .btn-back
    margin-top: 0




